<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flaggame - Home</title>
    <link rel="stylesheet" href="/css/styleindex.css">
    <!-- https://paletadecores.com/paleta/061c31/1c3047/31455c/475972/5c6d87/ -->
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/cadastro">Cadastrar-se</a></li>
                <li><a href="/quiz">Jogos</a></li>
                <li><a href="/sobre">Sobre</a></li>
                <li><a href="/">Home</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="main_div">
            <div class="game_div">
                <div class="flag_img">
                    <!-- Aqui você pode colocar uma imagem representativa do jogo -->
                    <img src="/images/brazil-flag.webp" alt="Bandeira do Quiz" class="img-fluid">
                  </div>
                  <a href="/quiz" class="button_a">Jogar</a>
            </div>
            <div class="info_div">
                <h1>Quiz de Bandeiras</h1>
                <p>Seja bem-vindo ao Flaggame! Teste seus conhecimentos sobre bandeiras de todo o mundo de uma maneira
                    divertida e desafiadora. Você consegue identificar cada uma delas?
                </p>
                <p>Junte-se a nós nessa aventura e descubra quantas bandeiras consegue reconhecer! Desafie seus amigos
                    e
                    veja quem se torna o verdadeiro mestre das bandeiras!</p>
            </div>
        </div>
    </main>

</body>

</html>
